:root {
  --blue: #0F3460;
  --purple: #533483;
  --red: #E94560;
  --black: #16213E;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, var(--black) 25%, rgba(0,0,0,1) 52%, var(--black) 77%, rgba(0,0,0,1) 100%);
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

#topBanner {
    margin-top: 0;
    width: 100%;
    height: 80px;
    display: grid;
    background-color: var(--black);
    grid-template-columns: 0.5fr 4.5fr ;
}

#topBanner div{
   margin: 2px 2px 2px 2px;
    overflow: hidden;
    position: relative;
}

#topBanner .logo{
    background: #b5111b;
    min-width: 100px;
}

#topBanner .title{  /*Make this div a flex-box or a grid in the future, in case more things are added to title and it needs to be responsive*/
    overflow: hidden;
    text-align: center;
    color: white;
    border: 2px groove var(--black);
    border-radius: 20px;
    background: var(--purple);
    padding-right: 15%;
    font-size: 18px;
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 12px */
@media screen and (max-width: 600px) {
  #topBanner .title {
    font-size: 14px;
  }
}

.navbar{
    background-color: var(--black);
    color: white;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    height: 40px;
    align-items: center;
    letter-spacing: 1px;
    position: sticky;   
    top: 0; 
    z-index: 2;
    border-bottom: 3px solid var(--red);
    /* border-color: #c43f47;
    border-width: 2px;
    border-style: solid; */
}

.navbar .navitem{
    background-color: var(--red);
    font-size: 18px;  
    font-family: inherit;
    height: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10%;
    margin-inline: 10px;
}
.navbar .navitem:hover{
    filter: brightness(125%);
}

.coursecatalog{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 10px;

}

.coursePreview {
    position: relative;
    width: 200px;
    border-color: var(--purple);
    border-width: 3px;
    border-style: solid;
}

.coursePreview:hover{
    border-color: black ;
}

.courseTitle {
    position: absolute;
    background-color: var(--purple);
    color: white;
    bottom: 0px;
    width: 100%;
}

.heading{
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: var(--red);
  color: white;
  border-radius: 10%;
  text-align: center;
  justify-content: space-between;
  width: 50%;
  
}

.textarea{
    background-color: var(--purple);
    border-width: 3px;
    border-style: solid;
    border-color: var(--blue);
    color: white;
    font-size: 18px;
    width: 75%;
    
    margin-bottom: 5px;
   
    padding: 10px 10px 10px 10px;

}

.textarea a{
    font-style: italic;
    color: ghostwhite;
    line-height: 1.75;
}

.textarea a:hover {
    color: grey;
}

#troubleshooting ul{
    list-style: none;
    padding-left: 0;
}